= simple_form_for(Task.new) do |f|
  .form-row
    .input-group.mb-3
      = f.input_field :content,
                      class: 'form-control',
                      placeholder: t(:new_task, default: 'New task'),
                      remote: true
      .input-group-append
        = f.button :submit, class: 'btn-primary'

.tasks.sortable
  - @tasks.each do |task|
    .task{id: task.id}
      %p
        %a.btn.btn-sm.btn-outline-secondary.lurk
          @
        %span= task.content
